<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>公司简介</title>
        <link href="__ROOT__/Public/Home/css/bootstrap.min.css" rel="stylesheet">
        <link href="__ROOT__/Public/Home/css/aui.min.css" rel="stylesheet">
        <link href="__ROOT__/Public/Home/css/mui.picker.css" rel="stylesheet">
        <link href="__ROOT__/Public/Home/css/mui.poppicker.css" rel="stylesheet">
        <link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet">
         <script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
         <script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/Home/js/mui.picker.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/Home/js/mui.poppicker.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/Home/js/bootstrap.min.js"></script>
        <style>
         
        </style>
    </head>
    <body>
         <!-- 公共头部 -->
         <include file="Common/header" />
         <!-- 公共头部 -->

         <div class="container-fluid">
                <!--<img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3551563550,2594280103&fm=26&gp=0.jpg" alt="..." class="img-rounded centerImg" >-->
                 <div class="introduce">
                   {$intro.cont}
                </div> 
          </div>
       
        <script>
      
        </script>
    </body>

</html>