<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>交易状态</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/swiper.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">交易状态</h1>
	</header>
	<div class="mui-content">
	       <!-- 交易成功显示的状态 -->
	      <!--  <div class="success">
	       	   <img src="img/p_19.png" alt="" class="successIMG">
	       	   <div class="deal_tip">交易成功</div>
	       </div> -->
	       <!-- 交易成功显示的状态 -->


	       <!-- 等待卖家确认收款的状态 -->
	        <div class="success">
	       	   <img src="__ROOT__/Public/Home/img/p_20.png" alt="" class="successIMG">
	       	   <div class="deal_tip">等待卖家确认收款</div>
	       </div>
	       <!-- 等待卖家确认收款的状态 -->

	</div>
</body>
</html>