<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>交易大厅</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/swiper.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">交易大厅</h1>
	</header>
	<div class="mui-content">
	    <p class="tipTitle">交易规则</p>
	    <ul class="deal_rule">
	    	<li>买方购买积分后请及时联系卖家进行交易</li>
	    	<li>如卖家收款后不及时确认打款</li>
	    	<li>请联系客服务人员对卖方进行封号处理</li>
	    </ul>
	    <button class="mui-btn mui-btn-block" onclick="location.href='sale_list.html'">挂卖积分列表</button>
	    <!--<button class="mui-btn mui-btn-block" onclick="location.href='deal_status.html'">查看交易状态</button>-->
	    <button class="mui-btn mui-btn-block" onclick="location.href='my_sale.html'">我要挂卖</button>
	</div>
</body>
</html>